<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My first Bulma website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/assets/css/higlight.css" | prepend: site.baseurl }}" />

</head>

<body>
  <!-- Main container -->
  <div class="has-background-light">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.baseurl }}">
          <img src="{{ "/assets/logo.jpg" | prepend: site.baseurl }}" width="28" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ site.baseurl }}">
            Home
          </a>

          <a class="navbar-item">
            Documentation
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Join Community</strong>
              </a>
              <!--
              <a class="button is-light">
                Log in
              </a>
              -->
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-primary" style="padding-bottom: 80px">
      <div class="hero-body">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title is-2 is-spaced">
              {{ site.name }}
            </h1>
            <!--
            <h2 class="subtitle is-4">
              Learn, Share, Contribute
            </h2>
            -->
            <h2 class="subtitle is-4">
              {{ site.description }}
            </h2>
          </div>
        </div>
      </div>
    </section>
    <div class="container has-background-white">
      <div class="content box" style="margin-top: -80px; padding:50px">
        {{ content }}
      </div>
    </div>
    <footer class="footer has-background-light">
      <div class="content has-text-centered">
        <p>
          <strong>Made</strong> with <span class="icon has-text-info"> <i class="is-danger fas fa-heart"></i> </span> by <a href="#">Community</a>
        </p>
      </div>
    </footer>
  </div>
    <!--
        <div class="columns is-variable is-2-mobile is-0-tablet is-3-desktop is-8-widescreen is-1-fullhd">
            <div class="column has-background-dark has-text-white">First Column</div>
            <div class="column has-background-white has-text-dark">Second Column</div>
            <div class="column has-background-dark has-text-white">Third Column</div>
            <div class="column has-background-white has-text-dark">Fourth Column</div>
        </div>
        -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>