---
layout: article
---
    <h1 class="title has-text-centered"><a href="#">{{ page.title }}</a></h1>
    <p class="is-size-7 has-text-centered">Written by <strong>{{ page.author }}</strong> on  {{ page.date | date_to_long_string }} in
        {% for tag in page.tags %}
        <a href="{{ tag | prepend: '/#' | prepend: site.url }}">#{{ tag }}</a>{% unless forloop.last %},{% endunless %} 
        {% endfor %}
    <div class="is-divider" style="margin:20px 0px"></div>
    {{ content }}
    {% if page.comments %}
    <h2 class="title has-text-info" style="margin-top:30px;font-family: 'Pattaya', sans-serif;">Share on</h2>
    <p class="buttons">
    <a class="button is-orange">
        <span class="icon">
        <i class="fab fa-reddit"></i>
        </span>
        <span>Reddit</span>
    </a>
    <a class="button is-info">
        <span class="icon">
        <i class="fab fa-twitter"></i>
        </span>
        <span>Twitter</span>
    </a>
    <a class="button is-link">
        <span class="icon">
        <i class="fab fa-facebook"></i>
        </span>
        <span>Facebook</span>
    </a>
    <a class="button is-danger">
        <span class="icon">
        <i class="fab fa-google-plus"></i>
        </span>
        <span>Google+</span>
    </a>
    </p> 
    <div class="is-divider" style="margin-top:75px;margin-bottom:15px"></div>
    <div id="disqus_thread" style="margin-top:50px"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://d4em0n-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}                                